{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<style>
  body{
    background-color: #F5F5F5
    height: 100%
  }
  .cocktailimage{
    width: 100px;
    height: 100px;
  }
  .searcharea{
    text-align: center
  }
  input{
    width:70%
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    height:2em;
  }
  input:focus{
    outline: 1px solid lightskyblue;
  }
  .btnbtn-primary1{
    background-color:yellow;
    color:black;
    border: solid yellow;
    border-radius: 4px;
    height:2em;
  }
  .btnbtn-primary2{
    background-color:black;
    color:white;
    border: solid yellow;
    border-radius: 4px;
    height:2em;
  }
  select,option{
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    height:2em;
  }
  select:focus, option:focus{
    outline: 1px solid lightskyblue;
  }


  .searchresult1{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .searchresult1 > p{
    text-align: center;
    width: 70%
  }

  .searchresult2{
    display:flex;
    justify-content: center;
  }

  .searchresult2 > div{
    margin: 40px;
  }

</style>

<div class="searcharea">
  <form class="form-register" method="post">
    <select name="dropdownvalue">
      <option value="cocktail_name">Cocktail</option>
      <option value="ingredient_name">Ingredient</option>
    </select>
    <input type="text" size="25" placeholder="Search by drink or type random" name="searchfield">
    <button class="btn btn-primary" type="submit" name="btn1" val="search">Search</button>
  </form>
</div>

<div class="searchresult1">
  {% if session['cocktailname'] %}

    <form class="form-register" method="post">
      {% if session['favorite'] %}
        <button class="btnbtn-primary1" type="submit" name="btn2" value="fav">Favorite</button>
      {% else %}
        <button class="btnbtn-primary2" type="submit" name="btn2" value="unfav">Favorite?</button>
      {% endif %}
    </form>

    <h1> {{session['cocktailname']}} </h1>
  {% endif %}

  {% if session['ingredientname'] %}
    <h1> {{session['ingredientname']}} </h1>
  {% endif %}

  {% if session['ingredienttype'] %}
    <p> Type: {{session['ingredienttype']}} </p>
  {% endif %}

  {% if session['ingredientalchohol'] %}
    <p> Alchohol: {{session['ingredientalchohol']}} </p>
  {% endif %}

  {% if session['category'] %}
    <p> {{session['category']}} </p>
  {% endif %}

  {% if session['thumbnail'] %}
    <image class="cocktailimage" src="{{session['thumbnail']}}" alt="cocktail-thumbnail">
  {% endif %}

  {% if session['instructions'] %}
    <p><em><b>{{session['instructions']}}</b></em></p>
  {% endif %}

  {% if session['ingredientdescription'] %}
    <p><em><b>{{session['ingredientdescription']}}</b></em></p>
  {% endif %}
</div>

<div class="searchresult2">
  {% if session['ingredients'] %}
    <div class="lower">
      <h2>Ingredients</h2>
      <ul>
      {% for ingredient in session['ingredients'] %}
            <li><b>{{ ingredient }}</b></li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if session['measurements'] %}
    <div class="lower2">
      <h2>Measurements</h2>
      <ul>
      {% for measurement in session['measurements'] %}
            <li><b>{{ measurement }}</b></li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
{% endblock %}
