{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/userpage.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="searcharea">
  <form class="form-register" method="post">
    <div>
      <select name="dropdownvalue">
        <option value="cocktail_name">Cocktail</option>
        <option value="ingredient_name">Ingredient</option>
      </select>
      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 mw-40 ">
        <div class="input-group">
          <input type="text" name="searchfield" placeholder="Search by drink or type random" aria-describedby="button-addon1" class="form-control border-0 bg-light">
          <div class="input-group-append">
            <button name="btn1" val="search" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div> 
    </div>
  </form>
</div>

<div class="searchresult1">
  {% if session['cocktailname'] %}

    <form class="form-register" method="post">
      {% if session['favorite'] %}
        <button class="btnbtn-primary1" type="submit" name="btn2" value="fav">Favorite</button>
      {% else %}
        <button class="btnbtn-primary2" type="submit" name="btn2" value="unfav">Favorite?</button>
      {% endif %}
    </form>

    <h1> {{session['cocktailname']}} </h1>
  {% endif %}

  {% if session['ingredientname'] %}
    <h1> {{session['ingredientname']}} </h1>
  {% endif %}

  {% if session['ingredienttype'] %}
    <p> Type: {{session['ingredienttype']}} </p>
  {% endif %}

  {% if session['ingredientalchohol'] %}
    <p> Alchohol: {{session['ingredientalchohol']}} </p>
  {% endif %}

  {% if session['category'] %}
    <p> {{session['category']}} </p>
  {% endif %}

  {% if session['thumbnail'] %}
    <image class="cocktailimage" src="{{session['thumbnail']}}" alt="cocktail-thumbnail">
  {% endif %}

  {% if session['instructions'] %}
    <p><em><b>{{session['instructions']}}</b></em></p>
  {% endif %}

  {% if session['ingredientdescription'] %}
    <p><em><b>{{session['ingredientdescription']}}</b></em></p>
  {% endif %}
</div>

<div class="searchresult2">
  {% if session['ingredients'] %}
    <div class="lower">
      <h2>Ingredients</h2>
      <ul>
      {% for ingredient in session['ingredients'] %}
            <li><b>{{ ingredient }}</b></li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if session['measurements'] %}
    <div class="lower2">
      <h2>Measurements</h2>
      <ul>
      {% for measurement in session['measurements'] %}
            <li><b>{{ measurement }}</b></li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
{% endblock %}
